@import url('https://fonts.cdnfonts.com/css/martian-mono');
@import url('https://fonts.cdnfonts.com/css/helvetica-now-mt-micro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: rgb(249, 250, 251);
    margin: 0 auto;
    overflow-x: hidden;
}


header {
    border: solid red;
    width: 100vw;
    height: 100vh;

}


.menunav {

    position: relative;
    z-index: 10;




}

.menunav a {
    display: flex;
    align-items: center;
    
    gap: 230px;
    text-decoration: none;
    list-style: none;



}

.img-logo {
    width: 200px;
    height: 200px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: color 15px black;
}

.p-logo {

    color: rgb(255, 255, 255);
    font-family: 'Helvetica Now MT Micro', sans-serif;
    text-align: center;
    font-size: 50px;
    line-height: 1;
}

.boton li {

    display: inline-block;
    padding: 8px 20px;
    background: linear-gradient(90deg,
            rgb(53, 219, 186) 0%,
            rgb(151, 233, 116) 70%);

    text-transform: uppercase;
    font-size: 15px;
    border-radius: 17px;
}

.boton li:hover {
    color: rgb(40, 39, 39);
}

.listacontacto {
    font-family: 'Martian Mono', sans-serif;
}

.listacontacto ul {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;



}

.listacontacto ul li {
    color: white;
    font-weight: 600;
}



#Base {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #65c4d1;
    opacity: 0.7;
    mix-blend-mode: overlay;

}


